<launch>
  <arg name="TO_IP" default="10.68.0.136"/>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />

  <!-- FC to OCS -->
  <group ns="silverhammer">
    <!--
    <node pkg="jsk_network_tools" type="silverhammer_lowspeed_streamer.py"
          output="screen"
          name="fc_lowspeed_streamer">
      <rosparam subst_value="True">
        message: jsk_pr2_startup/FC2OCS
        to_port: 1025
        to_ip: $(arg TO_IP)
      </rosparam>
      <remap from="~input" to="fc2ocs_lowspeed" />
    </node>

    <node pkg="jsk_network_tools" type="silverhammer_lowspeed_receiver.py"
          output="screen"
          name="fc_lowspeed_receiver">
      <rosparam>
        message: jsk_pr2_startup/OCS2FC
        receive_port: 1026
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>
    -->

    <node pkg="jsk_network_tools" type="silverhammer_highspeed_streamer.py"
          output="screen"
          name="fc_highspeed_streamer">
      <rosparam subst_value="True">
        message: jsk_pr2_startup/FC2OCSLargeData
        to_port: 1027
        to_ip: $(arg TO_IP)
      </rosparam>
    </node>

    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="fc_highspeed_receiver">
      <rosparam>
        message: jsk_pr2_startup/OCS2FCLargeData
        receive_port: 1028
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>

    <node pkg="jsk_network_tools" type="silverhammer_highspeed_streamer.py"
          output="screen"
          name="fc_heartbeat_streamer">
      <rosparam subst_value="True">
        message: jsk_pr2_startup/FC2OCSHeartBeat
        to_port: 1029
        to_ip: $(arg TO_IP)
      </rosparam>
    </node>

    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="fc_heartbeat_receiver">
      <rosparam>
        message: jsk_pr2_startup/OCS2FCHeartBeat
        receive_port: 1030
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>

    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="fc_joint_state_receiver">
      <rosparam>
        message: jsk_pr2_startup/OCS2FCJointStateRiMove
        receive_port: 1031
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>


  </group>

  <node pkg="jsk_network_tools" type="heartbeat_master.py"
	output="screen"
	name="heartbeat_master">
    <param name="~rate" value="100"/>
  </node>

</launch>