<launch>
  <arg name="TO_IP" default="133.11.216.201"/>

  <group ns="images_silverhammer">
    <!-- resized images -->
    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="ocs_highspeed_receiver_head_resized">
      <rosparam>
        message: jsk_pr2_startup/FC2OCSHeadResizedImage
        receive_port: 1100
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>
    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="ocs_highspeed_receiver_larm_resized">
      <rosparam>
        message: jsk_pr2_startup/FC2OCSLarmResizedImage
        receive_port: 1101
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>

    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="ocs_highspeed_receiver_rarm_resized">
      <rosparam>
        message: jsk_pr2_startup/FC2OCSRarmResizedImage
        receive_port: 1102
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>

    <!-- Log-Polar images -->
    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="ocs_highspeed_receiver_log_polar_head_resized">
      <rosparam>
        message: jsk_pr2_startup/FC2OCSHeadLogPolarResizedImage
        receive_port: 1103
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>
    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="ocs_highspeed_receiver_log_polar_larm_resized">
      <rosparam>
        message: jsk_pr2_startup/FC2OCSLarmLogPolarResizedImage
        receive_port: 1104
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>

    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="ocs_highspeed_receiver_log_polar_rarm_resized">
      <rosparam>
        message: jsk_pr2_startup/FC2OCSRarmLogPolarResizedImage
        receive_port: 1105
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>

    <!-- depth image -->
    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="ocs_highspeed_receiver_depth_registered_resized">
      <rosparam>
        message: jsk_pr2_startup/FC2OCSDepthRegisteredResized
        receive_port: 1106
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
    </node>

    <!-- ROI points -->
    <node pkg="jsk_network_tools" type="silverhammer_highspeed_streamer.py"
          output="screen"
          name="ocs_highspeed_streamer_request_cropped_pose">
      <rosparam subst_value="True">
        message: jsk_pr2_startup/OCS2FCRequestPose
        to_port: 1109
        to_ip: $(arg TO_IP)
        throttle: False
      </rosparam>
    </node>

    <node pkg="jsk_network_tools" type="silverhammer_highspeed_receiver.py"
          output="screen"
          name="ocs_highspeed_receiver_cropped_points">
      <rosparam>
        message: jsk_pr2_startup/FC2OCSCroppedPoints
        receive_port: 1107
        receive_ip: "0.0.0.0"
        topic_prefix: "/"
      </rosparam>
   </node>

    <!-- select log polar -->
    <node pkg="jsk_network_tools" type="silverhammer_highspeed_streamer.py"
          output="screen"
          name="silverhammer_select_log_polar">
      <rosparam subst_value="True">
        message: jsk_pr2_startup/OCS2FCSelectLogPolar
        to_port: 1108
        to_ip: $(arg TO_IP)
        throttle: False
      </rosparam>
    </node>

  </group>
</launch>
